.container-imc {
    background-color: white(199, 4, 4, 0.76);
    width: 50rem;
    padding: 4.375rem 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);

    .image {
        width: 50%;
        text-align: center;
    }

    .content {
        width: 50%;
        color: $text;
        padding-left: 1.25rem;
        padding-right: 1.25rem;

        h1 {
            color: $title-text;
            font-size: 2rem;
            margin-top: 2.188rem;
        }


        form {
            margin-top: 1.563rem;
            display: flex;
            flex-direction: column;

            input {
                //width: 22.5rem;
                //box-sizing: border-box;
                border: solid 1px #CCCCCC;
                height: 1.875rem;
                border-radius: 3px;
                margin-bottom: .625rem;
            }

            button {
                @include botao(); //chamando o mixin botao
            }

        }

        #result {

            //background-color: green;
            text-align: center;
            color: white;
            border-radius: 50px;
            margin-top: 20px;
            display: none;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    @media (max-width: 860px){

        width: 80%; 
        flex-direction: column;
        row-gap: 10px;
        box-sizing: border-box;
        margin-bottom: 20px;

        .image{

            display: none;
        }

    }
}

